<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appareils Doc</title>
    <link rel="stylesheet" href="css/index.css">

  
</head>
<body>
  <header>  
      <div class="container">
          <div class="row">
              <a href="index.ejs" class="logo"><img src="img/logo1.jpg" alt="" style="width: 150px;height: 90px;padding-left: 60px;padding-top:9px ;padding-bottom: 2px;margin-top: 10px;"></a>
              <a href="index.ejs" class="logo"><img src="img/doc.png" alt="" style="width: 190px;height: 70px; padding-top: 2px; padding-bottom: 2px;padding-left: 10px; margin-top: 10px;"></a>
              <div class="menu">
                 <ul>
                    <li class="current" ><a href="index.html">Home</a></li>
                    <li class="current" ><a href="#feautures" style="scroll-behavior: smooth;">Features</a></li>
                    <li class="current" ><a href="/registration">User Login</a></li>
                    <li class="current" ><a href="#r">Join Us</a></li>
                    <li class="current" ><a href="#footer">Contact Us</a></li>
                  </ul>
              </div>
                
                <div class="clear"></div>
            </div>
         </div>         
  </header>  
  <section class="show">
    <div><img src="img/home appl.png" alt="" style="padding-left: 120px;"></div>
<div class="showtext">
<p class="showdescribe"><b>Quality Home &nbsp;&nbsp;&nbsp;Services&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></p>
<div class="showexp">
    <p>
     Experienced,hand-picked professionals to serve you at your doorstep

    </p>
</div>
</div>
<div class="clear"></div>
</section>
<br><br>
<section id="feautures">
    <div class="feh1">
    <h1 class="feh1d">FEATURED SERVICES</h1>
    </div>
    <table class="fetable">
      <tr>
          <td>
             <div class="fetxt-o">
              <img src="img/tools.png" alt="" style="height: 40px;width: 40px;">&nbsp;&nbsp;&nbsp;
              <span class="fedes"><b>Service From Local Merchants</b></span><br>
              <p> Get services for any home appliances from your preferred Local Merchants which you know and trust for years.

            </p>
            </div>
          </td>
          <td>
              <div class="fetxt">
                  <img src="img/tag.png" alt="" style="height: 40px;width: 40px;">&nbsp;&nbsp;&nbsp;
            <span class="fedes"><b>Transparent Pricing</b></span><br>
            <p>  See fixed prices before you book.No hidden charges.

          </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
            <div class="fetxt-o">
            <img src="img/skill.png" alt="" style="height: 40px;width: 40px;">&nbsp;&nbsp;&nbsp;
            <span class="fedes"><b>Experts Only</b></span><br>
            <p>    Our professionals are well trained and have on job experience .

          </p>
      </div>
        </td>
        <td>
            <div class="fetxt">
                <img src="img/light-bolt.png" alt="" style="height: 40px;width: 40px;">&nbsp;&nbsp;&nbsp;
          <span class="fedes"><b>Lightening Fast Services</b></span><br>
           
          <p>  Verified local servicemen will drive to your place very quickly with worry-free.

        </p>
        </div>
      </td>
    </tr>
    <tr>
        <td>
            <div class="fetxt-o">
            <img src="img/sale.png" alt="" style="height: 40px;width: 40px;">&nbsp;&nbsp;&nbsp;
            <span class="fedes"><b>Trust,Discounts And Savings</b></span><br>
            <p>    Get service for any home appliances from your neighborhood & save using Exclusive offers and Discounts.

          </p>
      </div>
        </td>
        <td>
            <div class="fetxt">
                <img src="img/fishing.png" alt="" style="height: 40px;width: 40px;">&nbsp;&nbsp;&nbsp;
          <span class="fedes"><b>Fully Equipped</b></span><br>
           
          <p>  We bring everything needed to get the job done well.

        </p>
        </div>
      </td>
    </tr>
    <tr>
        <td>
            <div class="fetxt-o">
            <img src="img/merchant.png" alt="" style="height: 40px;width: 40px;">&nbsp;&nbsp;&nbsp;
            <span class="fedes"><b>Near By Merchants</b></span><br><p>
                Discover all local merchants based on your location.

          </p>
      </div>
        </td>
        <td>
            <div class="fetxt">
                <img src="img/filter.png" alt="" style="height: 40px;width: 40px;">&nbsp;&nbsp;&nbsp;
          <span class="fedes"><b>Categories & Sorting</b></span><br>
           
          <p>  Easily refine your search results using various Categories.

        </p>
        </div>
      </td>
    </tr>
    <tr>
        <td>
            <div class="fetxt-o">
            <img src="img/dollar.png" alt="" style="height: 40px;width: 40px;">&nbsp;&nbsp;&nbsp;
            <span class="fedes"><b>Extending Buisness</b></span><br>
            <p>   New local merchants are welcome to start buisness in this service society.

          </p>
      </div>
        </td>
        <td>
            <div class="fetxt">
                <img src="img/add-group.png" alt="" style="height: 40px;width: 40px;">&nbsp;&nbsp;&nbsp;
          <span class="fedes"><b>New Merchants</b></span><br>
          <p> 
            Up to date info of new local merchants with ratings & reviews.

        </p>
        </div>
      </td>
    </tr>
  </table>
  </section>

<footer id="footer">
                <div class=" foot-container">
                  <h1 style="text-align: center;padding-top: 30px;">CONTACT DETAILS</h1>
                  <ul class="footer-list">
                    <li>
                      <img src="img/gps.png" alt="" style="height: 40px;width: 40px;"><a>20/1,Radha Nagar,Chrompet,Chennai-44</a>
                    </li>
                        <li>
                          <img src="img/telephone.png" alt="" style="height: 40px;width: 40px;">
                          <a>6379414902</a><br><a>6385435768</a><br><a href="">6379960389</a>
                        </li>
                        <li>
                          <img src="img/gmail.png" alt="" style="height: 40px;width: 40px;">
                          <a href="#">iamnithishguhan@gmail.com</a><br>
                          <a href="#">sabaribalag3@gmail.com</a><br>
                          <a href="#">srinath652001@gmail.com</a>
                        </li>
                      
                  </ul>
                 
                      
                     
                      <div class="foot-logo">
                        <ul class="symbols">
                          <li>
                            <a href="" target="_blank"><img alt="facebook" src="img/facebook.png" style="height: 40px;width: 40px;"></a>
                          </li>
                          <li>
                            <a href="" target="_blank"><img alt="twitter" src="img/twitter.png" style="height: 40px;width: 40px;"></a>
                          </li>
                          <li>
                            <a href="" target="_blank"><img alt="youtube" src="img/instagram.png" style="height: 40px;width: 40px;"></a>
                          </li>
        
                        </ul>
                      </div>
                
                    <div class="footer-last">
                      <a href="" class="footerlast" style="text-decoration: none;">AboutUs</a><a href="" class="footerlast" style="text-decoration: none;">Terms and Conditions</a><a href="" class="footerlast" style="text-decoration: none;">Privacy Policy</a>
                      <p style="color: white;">Copyright ©2020 AppareilsDoc.Co</p>
                      <br><br>
                      <p></p>
                      <p></p>
                      </div>
    
</body>
</html>